<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
    	
    	
    	<!-- DAO -->
	<bean id="contratoDAO" class="mx.com.nok.contrato.dao.ibatis.ContratoDAOImpl">	
            <property name="sqlMapClient" ref="sqlMap"/>
	</bean>
	<!-- Business -->
    <bean id="contratoBusiness" class="mx.com.nok.contrato.model.business.ContratoBusiness">
		<property name="contratoDAO" ref="contratoDAO"/>
	</bean>
	<!-- Action -->
    <bean id="contratoAction" class="mx.com.nok.contrato.action.ContratoAction">
		<property name="contratoService" ref="contratoBusiness"/>
		
    </bean>
	
</beans>