<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
    	
    	
    	<!-- DAO -->
	<bean id="direccionDAO" class="mx.com.nok.direccion.dao.ibatis.DireccionDAOImpl">	
            <property name="sqlMapClient" ref="sqlMap"/>
	</bean>
	<!-- Business -->
    <bean id="direccionBusiness" class="mx.com.nok.direccion.model.business.DireccionBusiness">
		<property name="direccionDAO" ref="direccionDAO"/>
	</bean>
	<!-- Action -->
    <bean id="direccionAction" class="mx.com.nok.direccion.action.DireccionAction">
		<property name="direccionService" ref="direccionBusiness"/>
		
    </bean>
	
</beans>
